html {
	scroll-behavior: smooth;

}
body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden; 
}

/* Start of navbar  */
.navBar {
	display: grid;
	height: 63px;
	grid-template-columns: 1fr 150px 1fr;
	width: 100%;
	grid-template-areas: "logo center navbar";
	font-size: 20px;
	position: absolute;
	top: 0;
	transition: all 0.35s ease;
}

.navBar .logo {
	grid-area: logo;
	align-self: center;
	justify-self: start;
	margin-left: 6px;
	
}
.navBar .logo a {
	color: lavender;
	text-decoration: none;
	font-size: 24px;
	font-weight: 500;
}
.navBar .logo a:hover {
	color: #4484CE;
	transition: .8s;
}

.navLinks {
	grid-area: navbar;
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(3, 1fr);
	align-self: center;
	justify-self: end;
	text-align: center;
}
.navLinks a {
	text-decoration: none;
	color: lavender;
	cursor: pointer;
	font-size: 18px;
}
.navLinks a:hover {
	color: #4484CE;
	transition: 0.8s;
}

/* Start of Slide Menu */
.openSlide {
	display: grid;
}

.openSlide a {
	align-self: center;
	margin-left: 6px;

}
.openSlide .menuIcon {
	color: lavender;
	font-size: 25px;
	transition: .8s;
	align-self: center;
	justify-self: center;
}
.openSlide .menuIcon:hover {
	color: #4484CE;
	transition: .8s;
}
.sideNav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	opacity: .8;

}
.sideNav a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22px;
	color: lavender;
	display: block;
	transition: 0.3s;
}
.sideNav a:hover {
	color: #4484CE;
}
.sideNav .btnClose {
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
	margin-left: 50px;
}

/* Start of welcome section */
.welcomeSection {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	background-color: black;
	min-height: 100vh;
	min-width: 100vw;
	background: url(images/ps1c.jpeg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
}
.welcomeText {
	color:lavender;
	align-self: center;
	justify-self: center;
	text-align: center;
}
.welcomeText span {
	color: #4484CE;
}
.welcomeText h1, .welcomeText p {
	background-color:rgba(0, 0, 0, .7);
	justify-self: center;

}
.welcomeText h1 {
	margin-top: 0;	
	display: inline-block;
	font-size: 45px;

}
.welcomeText p {
	margin-top: 0px;
	font-size: 24px;
}

/* Start of about section */
.aboutSection {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "middle2";
	background-color: #4484ce;
	height: 450px;

}
.aboutSection h1 {
	font-size: 45px;
	grid-area: middle2;
	justify-self: center;
	scroll-margin-top: 63px;
	align-self: start;
	

}
.aboutSection p {
	grid-area: middle2;
	text-align: center;
	font-size: 24px;
	justify-self: center;
	width: 80%;
	align-self: center;

}

/* Start of products section */

.productsSection {
	background-color: lavender;
	display: grid;
	grid-template-rows: 150px 1fr;
	grid-template-areas: "top" "product";
}
.productsSection h1 {
	color: black;
	grid-area: top;
	justify-self: center;
	align-self: start;
	font-size: 45px;
	scroll-margin-top: 63px;
}
.productsSection .gamesList {
	display: grid;
	grid-area: product;
	grid-template-columns: 250px 250px 250px;
	justify-content: center;
	margin-bottom: 100px;
	grid-gap: 30px;


}
.gamesList .item {
     background:rgba(255, 255, 255, 0.2);
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
     display: grid;
     grid-template-rows: 1fr 60px 40px;
	 align-content: center;
	 justify-content: center;
	 align-items: center;
     color: black;
	 font-weight: 100;
	 
	 
}
.gamesList .item .gameImg {
	height: 250px;
	width: 250px;
	border: 1px solid #111;
	
}
.gamesList .item .gameDescription {
	width: 100%;
	font-size: 1.3rem;
	text-align: center;
}
.gamesList .item .price {
	font-size: 1.5rem;
	font-weight: normal;
	text-align: center;

}

/* Start of footer */ 
footer {
	display: grid;
	grid-template-rows: 1fr 150px 50px;
	grid-template-areas: "contactus" "newsletter" "footer";
	height: 500px;
	background-color: #4484CE;
}

/* Start of contact section */ 

footer .contactSection {

	grid-area: contactus;
	
}
footer .contactSection h1 {
	text-align: center;
	font-size: 45px;
}
footer .contactSection p {
	text-align: center;
	font-size: 24px;
}

/* Start of socialmedia icons */

footer .contactSection .socialMedia {

	grid-area: contactus;
	display: grid;
	width: 100%;
	justify-items: center;
	justify-content: center;
	align-items: center;
	grid-template-columns: 30px 30px 30px;
	grid-gap: 30px;

}
.socialMedia a {
	color: black;
}
.socialMedia a:hover {
	color: lavender;
	transition: .8s;
}

/* Start of newsletter */
.newsletter {
	grid-area: newsletter;
	align-self: center;
	justify-self: center;
	text-align: center;

}
.newsletter input[type="email"]{
	height:32px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border: 0;
}
.button {
	height:34px;
	background-color:lavender;
	font-weight: bold;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border: 0;

}

/* Start of subfooter */
footer .subFooter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "t1 t2 t3";
	width: 100%;
	background-color: #05386B;

}
.subFooter p {
	grid-area: t2;
	align-self: center;
	justify-self: center;
	font-size: 16px;
	margin: 0;
	font-weight: bold;
	color: lavender;

}

.toTop {
	grid-area: t3;
	justify-self: end;
	align-self: center;
	padding-right: 6px;
	opacity: 0.8;

}
.toTop .topArrow {
	opacity: 0.7;
	color: lavender;
	font-size: 28px;
}
.toTop .topArrow:hover {
	opacity: 1.0;
	color: white;
}


/* Media Queries */
@media (min-width: 769px){
	.openSlide {
		display: none;
	}
	}
	

/* Media Queries */
@media(max-width: 837px){

	.productsSection .gamesList {
	
			grid-template-columns: 250px 250px;
		}		
}
/* Media Queries */
@media(max-width: 769px){

/* font sizes of h1 and p tags */
	.welcomeSection h1, .aboutSection h1, .productsSection h1, footer .contactSection h1 {
		font-size: 35px;
	}
	.welcomeSection p, .aboutSection p, .productsSection p, footer .contactSection p {
		font-size: 18px;
	}

/* Start of Navbar */

	.navBar .logo {
		grid-area: center;
		align-self: center;
		justify-self: center;
	}
	.navLinks {
		display: none;
	}


/* Start of welcomes ection */

	.welcomeSection {
		
		grid-template-areas: "wm";
	
	}
	.welcomeText {
		grid-area: wm;
		align-self: center;
		justify-self: center;
	
	}
	
	/* Start of about section */

	.aboutSection p {
		font-size: 18px;
	}

	}
	
	
/* Media Queries */
@media(max-width: 565px){

	.welcomeSection h1, .aboutSection h1, .productsSection h1, footer .contactSection h1 {
		font-size: 30px;
	}

	.welcomeSection p, .aboutSection p, .productsSection p, footer .contactSection p {
		font-size: 16px;
	}	
	.productsSection .gamesList{
			grid-template-columns: 250px;
		}	
	}
	
/* Media Queries */
@media(max-width: 350px){

	.welcomeSection h1, .aboutSection h1, .productsSection h1, footer .contactSection h1 {
		font-size: 25px;
	}

	.newsletter h2{
		font-size: 22px;
	}
	}

